:root{
    --paragraf-text-color:#f4f4fd;
    --button-text-color:#4d5ae5;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

img {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul, 
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    background: var(--WHITE, #FFF);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;    
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-logo-web {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.nav-logo-studio {
    color: #2E2F42;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: flex;
    gap: 40px;
}

.address-link {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.hero-section {
    background: #2E2F42;
    width: 100%;
    height: 600px;
    flex-shrink: 0;
    padding: 188px 0 188px;
}

.hero-header {
    color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    height: 120px;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.button {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    background: var(--button-text-color);
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

.button:hover, 
.button:focus {
    background-color: #404bbf;
}

.section-auor {
    background: #FFF;
    padding: 120px 0 120px;
}

.card-wrap {
    text-align: center;
    padding: 32px 0 32px;
}

.section-portfolio .ul-list {
    row-gap: 48px;
}

.section-portfolio .card-wrap {
    padding: 32px 16px;
    text-align: start;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ul-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

.li-list {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.time {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.third-heading {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-auor-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.section-ourteam {
    background: #F4F4FD;
    padding: 120px 0;
}

.second-heading {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-ourteam-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.section-portfolio {
    color: #F4F4FD;
    padding: 120px 0;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}

.basement {
    background: #2E2F42;
    padding: 100px 0 100px;
}

.basement-logo-web {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}

.basement a {
    margin-bottom: 16px;
}

.basement-logo-studio {
    color: #F4F4FD;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.basement-text {
    color: var(--paragraf-text-color);
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    max-width: 264px;
}